<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Third Endpoint</title>
</head>
<body>
<table th:each="bankAccount,accountStat : ${bankAccounts}">
    <tr th:if="${bankAccount.king}" th:style="|color : gold|" th:switch="${bankAccount.badGuy}">
        <td th:text="${accountStat.index}"/>
        <td th:case="true">Bad Guy</td>
        <td th:case="false">Good One</td>
        <td th:text="' Name: ' + ${bankAccount.name}"/>
        <td th:text="' Balance: ' + ${#numbers.formatDecimal(bankAccount.balance, 4, 2)} + ' zebra'"/>
        <td th:text="'  Type: ' + ${bankAccount.animalType}"/>
    </tr>
    <tr th:unless="${bankAccount.king}" th:switch="${bankAccount.badGuy}">
        <td th:text="${accountStat.index}"/>
        <td th:case="true">Bad Guy</td>
        <td th:case="false">Good One</td>
        <td th:text="' Name: ' + ${bankAccount.name}"/>
        <td th:text="' Balance: ' + ${#numbers.formatDecimal(bankAccount.balance, 4, 2)} + ' zebra'"/>
        <td th:text="'  Type: ' + ${bankAccount.animalType}"/>
    </tr>
</table>
</body>
</html>