body {
  color: #222;
  margin: 0;
}

header {
  position: absolute;
  background-image: url("anakin.png");
  height: 420px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

main {
  width: 50%;
  margin: auto;
  font-size: 20px;
  padding-top: 12em;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
blockquote,
hr {
  position: relative;
  font-family: 'Abril Fatface', cursive;
}

h1 {
  min-width: 800px;
  font-weight: lighter;
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

span {
  font-size: 1.9em;
}

.hands-on,
section[class] li {
  list-style-type: square;
  line-height: 1.5em;
}

blockquote {
  width: 115%;
  left: -7.5%;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #fff;
  background-color: #444;
}

blockquote span {
  height: 10px;
  line-height: .8em;
  font-size: 3em;
  float: left;
}

blockquote p {
  padding: 1em 1em;
}

h2 {
  margin: 40px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  margin-bottom: 0;
}

.description {
  font-size: 0.8em;
  margin: 30px 0;
}

section[class] > p {
  font-family: 'Merriweather', serif;
  font-size: .75em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}

section[class] li {
  font-size: .8em;
}

ul {
  margin-bottom: 40px;
}

hr {
  width: 110%;
  left: -5%;
  border-top: 3px solid;
}
