html {
  width: 300px;
  font-size: 18px;
}

p {
  padding: 20px;
  border-bottom: solid 2px #000;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
  margin: 0;
}

p:hover {
  background-color: orange;
}

.bottom {
  border-bottom: 0;
}
