<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
  <meta charset="UTF-8"/>
  <title>Nutrition Store</title>
</head>
<body>
  <div layout:fragment="content" th:if="${fox.alive}">
    <form method="post" action="/changeDiet">
      <span>Food</span>
      <select name="food">
        <option th:each="food : ${foodList}" th:value="${food}" th:text="${food}" th:selected="${fox.food} == ${food} ? true : false"/>
      </select>
      <span>Drink</span>
      <select name="drink">
        <option th:each="drink : ${drinkList}" th:value="${drink}" th:text="${drink}" th:selected="${fox.drink} == ${drink} ? true : false"/>
      </select>
      <input type="submit" value="Change"/>
    </form>
  </div>
  <div layout:fragment="content2" th:unless="${fox.alive}">
    <p>It's not hungry, because it's DEAD!</p>
  </div>
</body>
</html>