<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<form method="post" action="/todo/add">
  <input type="text" name="new_todo"/>
  <input type="submit" value="submit"/>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>ACTION</th>
    <th>DONE</th>
    <th>URGENT</th>
  </tr>
  <tr th:each="todo : ${todoRepo}">
    <td th:style="|border : 1px solid|" th:text="${todo.id}"/>
    <td th:style="|border : 1px solid|" th:text="${todo}"/>
    <td th:style="|border : 1px solid|" th:text="${todo.done}"/>
    <td th:style="|border : 1px solid|" th:text="${todo.urgent}"/>
    <td th:style="|border : 1px solid|"><a th:href="@{/todo/delete(toDelete=${todo.id})}">delete</a></td>
    <td th:style="|border : 1px solid|"><a th:href="@{/todo/edit(id=${todo.id})}">edit</a></td>
  </tr>
</table>
</body>
</html>